<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center mt-5">
  <div class="w-50 h-100">
    <div class="d-flex justify-content-between mb-3">
      <h3>Lista do Livro</h3>
      <button type="button" (click)="abrirModal(cadastro)" class="btn btn-success">Novo Livro</button>
    </div>
    <div *ngIf="isErro && mensagem" class="alert alert-danger" role="alert">
      {{mensagem}}
    </div>
    <div *ngIf="!isErro && mensagem" class="alert alert-success" role="alert">
      {{mensagem}}
    </div>
    <table class="table table-striped w-100">
      <thead class="table-dark">
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Título</th>
          <th scope="col">Autor</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let livro of livros; let i = index">
          <th scope="row">{{ livro.id }}</th>
          <td>{{ livro.titulo }}</td>
          <td>{{ livro.autor }}</td>
          <td class="d-flex align-items-center gap-2 justify-content-center">
            <button type="button" (click)="editar(livro, i, cadastro)" class="btn btn-warning btn-sm">Editar</button>
            <button type="button" (click)="deletar(livro.id)" class="btn btn-danger btn-sm">Deletar</button>

          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="livros.length == 0" class="alert alert-secondary" role="alert">
      Nenhum livro encontrado
    </div>
  </div>
</div>
<ng-template #cadastro let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Cadastrar Livro</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-livros-details [livro]="livroSelecionado" [isErro]="isErro" [mensagem]="mensagem"
      (livroCriado)="salvarEditarLivro($event)"></app-livros-details>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
  </div>
</ng-template>