<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a routerLink="/app" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a routerLink="/app/pessoas" class="nav-link px-2 text-muted">Pessoas</a></li>
        <li class="nav-item"><a routerLink="/app/carros" class="nav-link px-2 text-muted">Carros</a></li>
        <li class="nav-item"><a routerLink="/app/livros" class="nav-link px-2 text-muted">Livros</a></li>
    </ul>
    <p class="text-center text-muted">© 2023 Jean Moschen</p>
</footer>