<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav d-flex w-100 justify-content-around">
        <li class="nav-item">
          <p class="nav-link" routerLink="/app/pessoas">Pessoas</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" routerLink="/app/pessoas">Carros</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" routerLink="/app">Home</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" routerLink="/app/pessoas">Livros</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" routerLink="/login">Sair</p>
        </li>
      </ul>
    </div>
  </nav>