<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center mt-5">
    <div class="w-50 h-100">
      <div class="d-flex justify-content-between mb-3">
        <h3>Lista de Livros</h3>
        <button type="button" (click)="abrirModal(cadastro)" class="btn btn-success">Novo Livro</button>
      </div>
      <table class="table table-striped w-100">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Ano</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let livro of livros; let i = index">
            <th scope="row">{{ livro.id }}</th>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.autor }}</td>
            <td>
              <button type="button" (click)="editar(livro, i, cadastro)" class="btn btn-warning btn-sm">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="livros.length == 0" class="alert alert-secondary" role="alert">
        Nenhum livro encontrado
      </div>
    </div>
  </div>
  <ng-template #cadastro let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Cadastrar Livro</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <app-livros-details [livro]="livroSelecionado" (livroCriado)="salvarEditarLivro($event)"></app-livros-details>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
    </div>
  </ng-template>