<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center mt-5">
  <div class="w-50 h-100">
    <div class="d-flex justify-content-between mb-3">
      <h3>Lista de Pessoas</h3>
      <button type="button" class="btn btn-success">Nova Pessoa</button>
    </div>
    <table class="table table-striped w-100">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Idade</th>
          <th scope="col">Ação</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas">
          <th scope="row">{{ pessoa.id }}</th>
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.idade }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>