<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center mt-5">
  <div class="w-50 h-100">
    <div class="d-flex justify-content-between mb-3">
      <h3>Lista de Pessoas</h3>
      <button type="button" (click)="abrirModal(cadastro)" class="btn btn-success">Nova Pessoa</button>
    </div>
    <div *ngIf="isErro && mensagem" class="alert alert-danger" role="alert">
      {{mensagem}}
    </div>
    <div *ngIf="!isErro && mensagem" class="alert alert-success" role="alert">
      {{mensagem}}
    </div>
    <table class="table table-striped w-100">
      <thead class="table-dark">
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Idade</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let pessoa of pessoas; let i = index">
          <th scope="row">{{ pessoa.id }}</th>
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.idade }}</td>
          <td class="d-flex align-items-center gap-2 justify-content-center">
            <button type="button" (click)="editar(pessoa, i, cadastro)" class="ml-5 btn btn-warning btn-sm">Editar</button>
            <button type="button" (click)="deletar(pessoa.id)" class="btn btn-danger btn-sm">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="pessoas.length == 0" class="alert alert-secondary" role="alert">
      Nenhuma pessoa encontrada
    </div>
  </div>
</div>
<ng-template #cadastro let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Cadastrar Pessoa</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-pessoas-details [isErro]="isErro" [mensagem]="mensagem" [pessoa]="pessoaSelecionada"
      (pessoaCriada)="salvarEditarPessoa($event)"></app-pessoas-details>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
  </div>
</ng-template>