/* You can add global styles to this file, and also import other style files */
body{
    width: 100%;
    height: 100vh;
    margin: 0;
}
app-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
